<mat-toolbar color="primary" *ngIf="!(searchbarActive$)">
  <a routerLink="/events" class="flex item-center justify-center no-underline text-white mr-3 hover:text-yellow">
    <i class="material-icons">arrow_back</i>
  </a>
  <span>{{ eventName$ }}</span>
  <span class="spacer"></span>
  <span class="cursor-pointer hover:text-yellow-light mr-5" (click)="toogleLettersCard()" [class.text-yellow-dark]="lettersCardActive$">A - Z</span>
  <i class="material-icons cursor-pointer hover:text-yellow-light" (click)="toogleSearchbar()">search</i>
</mat-toolbar>